<div id="cookie-bar-prompt" style="display:none">
    <div id="cookie-bar-prompt-content" style="text-align: left;">
        <a rel='nofollow' id="cookie-bar-prompt-close"><span>close</span></a>

        <div class="clear"></div>
        <p>
            <div>I cookies rilasciati da <b>peacelink.it</b> sono di tipo tecnico, di sessione, e di profilazione non a scopi commerciali. I cookies sono connessi alle funzionalità del sito. Continuando ad utilizzare questo sito l'utente acconsente all’utilizzo dei cookie sul browser come descritto nella nostra cookie policy, a meno che non siano stati disattivati.<br>
                È possibile modificare le impostazioni dei cookie nelle impostazioni del browser, ma parti del sito potrebbero non funzionare correttamente.<br><br></div>
        
        <div id='cookie-bar-thirdparty'>Le pagine web del sito <b>peacelink.it</b> possono incorporare servizi (ad esempio multimediali) forniti da parti terze, alla cui gestione dei cookies si rimanda, non dipendendo essa da <b>peacelink.it</b><br></div>

            <div id='cookie-bar-tracking'><br></div>

            <div id='cookie-bar-privacy-page'>Per ulteriori informazioni scrivici a <a href="mailto:privacy@peacelink.it">privacy@peacelink.it</a> oppure leggi l'<a rel='nofollow' id='cookie-bar-privacy-link' href=''>informativa estesa</a>.<br><br></div>

            <div>Cliccando il bottone <span>Ho capito</span>, oppure <span id='cookie-bar-scrolling'>scorrendo la pagina</span>, confermi il tuo consenso a questo sito di salvare alcuni piccoli blocchi di dati sul tuo computer.<br></div>
        
            <div id='cookie-bar-no-consent'>Cliccando il bottone <span>Non consentire cookies</span> neghi il tuo consenso, eliminando eventuali cookies e dati localStorage già presenti (alcune parti del sito potrebbero smettere di funzionare correttamente).<br></div>
        </p>
    </div>
</div>

<div id="cookie-bar" style="display:none">
    <p>I cookie ci aiutano a fornire i nostri servizi. Utilizzando tali servizi, accetti l'utilizzo dei cookie da parte nostra.
        <a rel='nofollow' id="cookie-bar-prompt-button">Dettagli</a>
    </p>
    <a rel='nofollow' id="cookie-bar-button-no">Non consentire cookies</a>
    <a rel='nofollow' id="cookie-bar-button">Ho capito</a>
</div>
